
<div class="jumbotron">
  <h1>Book Holidays</h1>
  <p>Welcome to the holiday application, a place to manage employee holidays.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/auth/ldap">Sign in</a></p>
</div>