<div ng-app>
  <div ng-controller="CalendarCtrl" id="calendar" >
    <h1>{{month()}} {{year}}</h1>

    <button ng-click="goToPreviousMonth()" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span> Previous
    </button>

    <button ng-click="goToNextMonth()" class="btn btn-default">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>

    <div id="calendar-header">
      <div>Monday</div>
      <div>Tuesday</div>
      <div>Wednesday</div>
      <div>Thursday</div>
      <div>Friday</div>
      <div>Saturday</div>
      <div>Sunday</div>
    </div>

    <div class="clear"></div>

    <div ng-repeat="day in days">
      <div class="day" ng-class="{'not-this-month': day.isNotThisMonth}">
        <span>{{day.value}}</span>
        <ul class="list-unstyled">
          <li ng-repeat="booking in day.bookings"><span class="label label-primary"><a href="/bookings/{{booking.id}}">{{booking.who}}</a></span></li>
        </ul>
      </div>
      <div ng-hide="($index+1) % 7" class="clear"></div>
    </div>

  </div>
</div>

<%= link_to 'Request time off', new_booking_path %>

<script>


</script>