
<div class="users-index" ng-controller="usersControl">

  <table class="table table-bordered table-striped">
    <thead>
      <th>Username</th>
      <th>Managed By</th>
    </thead>
    <tr ng-repeat="user in users">
      <td>{{user.name}}</td>
      <td>
        <div class="current-manager">
          <div ng-if="user.hasManager">
              <a href='#'>Nobody</a>
          </div>
          <div ng-if="!user.hasManager">
              {{user.manager}} <a href='#'>Change</a>
          </div>
        </div>
        <div class="change-manager">
          <input type="text" ng-model="" />
        </div>
      </td>
    </tr>
  </table>
</div>