#calendar #calendar-header {
  font-weight: bold;
}

#calendar #calendar-header div {
  float: left;
  width: 100px;
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
}

#calendar button {
  width: 130px;
}

.day {
  float: left;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  margin: 1px;
}

.day a {
  color:white;
}

.day a:hover {
  color:white;
}

.not-this-month {
  color: grey;
  background-color: lightgrey;
}

.event {
  background-color: green;
  height: 70px;
}

.clear {
  clear:both;
}